.side-navigation-logo{
  margin-bottom: 10px;
}
.side-navigation-logo-small{
  width: 30px;
  height: 30px;
}
.side-navigation-logo-medium{
  width: 50px;
  height: 50px;
}
.side-navigation-logo-large{
  width: 60px;
  height: 60px;
}
.side-navigation-top-actions{
  flex-grow: 1;
}
