.data-loading-container{
  border-radius: 25px;
  padding: 10px;
  margin: 0px auto 10px;
}
.data-loading-container > .data-loading-container-image{
  max-height: 300px;
  margin: 10px auto 0px;
  display: block;
}
.loading-text-container{
  width: 75%;
  margin: 15px auto 10px;
}
.data-loading-container-title{
  font-size: 1.25em!important;
  font-weight: bolder!important;
  text-align: center;
  /* margin-top: 10px!important; */
}
.data-loading-container-subtitle{
  font-size: 0.9em!important;
  text-align: center;
  margin-top: 0px!important;
}

@media screen and (max-width: 900px) {
  .loading-text-container{
    width: 100%;
  }
}
