:root{
  --desktop-img-header-height: 200px;
  --mobile-img-header-height: 150px;
}
.user-account-container {
  padding: 10px;
  width: 100%;
}
.user-account-header{
  position: relative;
}
.user-account-header-image-container{
  border-radius: 15px;
  max-height: var(--desktop-img-header-height);
  overflow: hidden;
  position: relative;
}
.user-account-header-image-container > .user-header-img{
  height: var(--desktop-img-header-height);
  max-height: var(--desktop-img-header-height);
  min-height: var(--desktop-img-header-height);
  object-fit: cover;
  width: 100%;
}
.user-account-header-image-container > .user-account-mobile-menu{
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.3);
  color: #000;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-avatar-info-container{
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  margin-top: -40px;
  z-index: 5;
}
.user-avatar-img {
  aspect-ratio: 1/1;
  border-radius: 25px;
  display: block;
  max-height: 125px;
  min-height: 125px;
  z-index: inherit;
}
.user-info-container{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
}
.user-display-name{
  font-weight: 900!important;
}
.user-account-body{
  margin: 20px auto 0px;
  width: calc(100% - 50px);
}
.user-data-skeleton{
  border-radius: 25px;
  height: 400px!important;
  margin-top: 10px!important;
  width: 100%;
}
.user-tabs-container{
  margin-bottom: 10px;
}
.user-tabs{
  width: fit-content;
}
.user-tab{
  margin-top: 10px;
}
.user-menu{
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .user-account-header-image-container{
    max-height: var(--mobile-img-header-height);
  }
  .user-account-header-image-container > .user-header-img{
    height: var(--mobile-img-header-height);
    max-height: var(--mobile-img-header-height);
    min-height: var(--mobile-img-header-height);
  }
  .user-account-header-image-container > .user-account-mobile-menu{
    display: block;
  }
  .user-avatar-info-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -45px auto 0px;
  }
  .user-avatar-img {
    max-height: 75px;
    min-height: 75px;
  }
  .user-info-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: unset;
    margin-top: 5px;
  }
  .user-account-body{
    margin: 10px auto 0px;
    width: calc(100%);
  }
  .user-tabs{
    width: 100%;
  }
}
