.report-data-container{
  margin: 10px 0px;
}
.report-title-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.report-title{
  font-size: 1.25em!important;
  font-weight: 600!important;
}
.report-subtitle{
  margin-bottom: 5px!important;
}
.report-tabs-container{
  margin: 5px 0px;
}
