/* FOOTER SECTION */
footer{
  border-radius: 24px;
  margin: 30px auto;
  padding: 30px;
  width: 95%;
}
footer > .brand-info-container{
  display: flex;
  flex-direction: column;
}
.footer-copyright{
  font-weight: 900!important;
  margin-top: 15px!important;
  text-align: center!important;
}
footer .brand-logo-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .brand-logo-container > .logo{
  height: 55px;
  margin-right: 5px;
}
footer .brand-logo-container > .brand-name{
  font-size: 2em!important;
  font-weight: bolder!important;
}
