.splash-modal > .splash-modal-content-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20%;
}
.splash-modal-content-container > .logo{
  height: 100px;
  margin-bottom: 15px;
}
.splash-loader-text{
  margin-top: 10px!important;
}
